<!DOCTYPE html PUBLIC "-//w3c//dtd xhtml 1.0 Transitional//en"
					  "http://www.w3.org/tr/xhtml1/dtd/xhtml-transisitonal.dtd">
<html>
<head>
	<title>Pragprog Books Online Store</title>
	<%= stylesheet_link_tag "depot", :media => "all"%>
	<%= javascript_include_tag :defaults %>
</head>
<body id="store">
	<div id= "banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf"%>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<%= render(:partial => "cart", :object => @cart)%>
			</div>
			<a><%= @time -%></a><br />
			<a href= "http://www....">Home</a><br />
			<a href= "http://www..../faq">Questions</a><br />
			<a href= "http://www..../news">News</a><br />
			<a href= "http://www..../contact">Contact</a><br />
		<div/>
		<div id= "main">
			<% if flash[:notice] -%>
				<div id= "notice"><%= flash[:notice]%></div>
			<% end -%>
			
			<%= yield :layout %>
		</div>
	</div>
</body>
</html>
			